
dependencies.api.scanoss.app {
    reverse_proxy {
        to h2c://dep_server:50051
        transport http {
            versions h2c 2
        }
    }
}

scan.api.scanoss.app {
    reverse_proxy {
        to h2c://scan_server:50052 
        transport http {
            versions h2c 2
        }
    }
}  

localhost { 
    root * /var/www/html/
    file_server
} 

